.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  max-width: 780px;
  min-width: 300px;
  border: 1px solid red;
}
.box {
  width: 360px;
  height: 230px;
  background-color: green;
}

@media only screen and (max-width: 780px) {
  .container {
    margin: 0px 20px;
  }
  .box {
    width: 100%;
  }
}
